Welcome <% if current_user.present? %><%= current_user.username %>


<button class="btn btn-success" data-toggle="modal" data-target="#mymodal">Upload Image</button>
<div class="row">
  <div class="col-lg-12">
    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Upload an image</h4><br><br>
          </div>
          <div class="modal-body bio-graph-info font">
            <div id="error"></div>
            <%= form_for(Photo.new, url: photos_path, :html => { :multipart => true}, :remote => true) do |f|%>
            <%= hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token) %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.file_field :image %>
              
              <%= f.submit "Upload", :class => 'btn btn-primary' %>
              <!--
              <div class="form-actions">
                
              </div>
            -->
            <% end %>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div><!-- /.cpl-lg-12 -->
</div><!-- /.row -->
<% end %>